<h2 mat-dialog-title>Name correspondance</h2>
<mat-dialog-content>
<table>
  <tr *ngFor="let item of vntrMiru | keyvalue">
    <td>{{item.key}}</td>
    <td>{{item.value}}</td>
  </tr>
</table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Closel</button>

</mat-dialog-actions>
