<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a matListItemTitle></a>
      <h2 matListItemTitle>Input data</h2>
      <a mat-list-item *ngFor="let input_description of input_descriptions" matTooltip="{{input_description.title}}" (click)="openDialogTemplate(input_description)">{{ input_description.title }}</a>
      <br>
      <h2 matListItemTitle>Output data</h2>
      <a mat-list-item *ngFor="let output_description of output_descriptions" matTooltip="{{output_description.title}}" (click)="openDialogTemplate(output_description)">{{ output_description.title }}</a>
      <br>
      <h2 matListItemTitle>Tool information</h2>
      <a mat-list-item *ngFor="let dialog of other_description" matTooltip="{{dialog.title}}" (click)="openDialogTemplate(dialog)">{{ dialog.title }}</a>

      <a mat-list-item (click)="openDialog3()">VNTR - Miru Name Correspondance</a>
      <br>
      <h2 matListItemTitle>Contact</h2>
      <a mat-list-item *ngFor="let dialog of contact" matTooltip="{{dialog.title}}" (click)="openDialogTemplate(dialog)">{{ dialog.title }}</a>





    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Welcome to TBminer NG</span>
    </mat-toolbar>
    <app-uploadtopredict></app-uploadtopredict>

  </mat-sidenav-content>

</mat-sidenav-container>


