.sidenav-container {
  height: 100%;
  left: 10px;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {

  top: 0;
  z-index: 1;
}

.footer-container{
  bottom: 5%;
  position: absolute;
}
