<div>
  <mat-tab-group animationDuration="0ms" #tabGroup [(selectedIndex)]=selectedIndex>
    <mat-tab label="Upload File">
      <mat-stepper [linear]="true" #stepper orientation="vertical">
        <mat-step label="TBMiner tool">
          <p>
            This tool make lineage prediction based on Spoligotype and/or MIRU/VNTR data.
          </p>
          <p>
            you can download sample data with the below link. You can use it for test this application or to test if
            your data syntax is correct
          </p>
          <button (click)="DownloadSampleData()">
            DownloadSampleData
          </button>
          <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step [stepControl]="valid1" label="Select a CSV file">
          <p>CSV model file and general specifications</p>
          <p>This file is a model of the data organization that the two programs can handle.</p>
          <p>Isolates have to be entered in lines, and columns refer to genotypes at each studied locus. Be aware that
            spoligotype pattern must be divided in the 43 spacers (using for instance, data/conversion tools in
            excel).</p>
          <p>Any other information can be added in other columns, it will simply be ignored.</p>
          <p>There is no limitation to the number of lines in the submitted file.</p>
          <button (click)="fileImportInput.click()" mat-raised-button type="button">Choose File</button>
          <input
            #fileImportInput
            (change)="importFile($event);preview()"
            accept=".csv"
            data-testid="importCSV"
            hidden
            id="csvFileUpload"
            name="File Upload"
            type="file"
          />

          <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step [stepControl]="valid2" label="Select separator">

          <p>
            <label for="sep-select">Choose a separator : </label>
            <mat-radio-group [(ngModel)]="option_sep" (change)="preview()" id="sep-select">

              <mat-radio-button *ngFor="let se of tbModel.sep" [value]="se">{{se}}</mat-radio-button>
            </mat-radio-group>
          </p>
          <div>
            <div>
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table>
                        <tr [ngClass]="(vntrCheck)? 'positive' : 'negative'">
                          <th>
                            VNTR CHECK
                          </th>
                          <th>
                            {{ vntrCheck}}
                          </th>
                        </tr>
                      </table>
                    </mat-panel-title>
                    <mat-panel-description>
                      This is a summary of the content
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <div *ngIf="true || !vntrCheck && file">
                  <table  class="table_block">
                    <tr class="scroll_tab">
                      <th>Before regex rename</th>
                      <td *ngFor="let header of  vntrHeader"
                          [ngClass]="(headerRow.includes(header))? 'positive' : 'negative'">{{ header }}</td>
                    </tr>
                  </table>
                  <table class="table_block">
                    <tr class="scroll_tab">
                      <th>After regex rename</th>
                      <td *ngFor="let header of vntrHeader"
                          [ngClass]="(newHeaderRow.includes(header))? 'positive' : 'negative'">{{ header }}</td>
                    </tr>
                  </table>
            </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <div>
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>

                      <table>
                        <tr [ngClass]="(vntr15Check)? 'positive' : 'negative'">
                          <th>
                            VNTR15 CHECK
                          </th>
                          <th>
                            {{ vntr15Check}}
                          </th>
                        </tr>
                      </table>
                    </mat-panel-title>
                    <mat-panel-description>
                      This is a summary of the content
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div *ngIf="true || !vntr15Check && file">
                  <table  class="table_block">
                    <tr class="scroll_tab">
                      <th>Before regex rename</th>
                      <td *ngFor="let header of  vntr15Header"
                          [ngClass]="(headerRow.includes(header))? 'positive' : 'negative'">{{ header }}</td>
                    </tr>
                  </table>
                  <table class="table_block">
                    <tr class="scroll_tab">
                      <th>After regex rename</th>
                      <td *ngFor="let header of vntr15Header"
                          [ngClass]="(newHeaderRow.includes(header))? 'positive' : 'negative'">{{ header }}</td>
                    </tr>
                  </table>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <div>
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table>
                        <tr [ngClass]="(spoligoCheck)? 'positive' : 'negative'">
                          <th>
                            SPOLIGO CHECK
                          </th>
                          <th>
                            {{ spoligoCheck }}
                          </th>
                        </tr>
                      </table>
                    </mat-panel-title>
                    <mat-panel-description>
                      This is a summary of the content
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div *ngIf="true || file && !spoligoCheck">
                  <table   class="table_block">
                    <tr class="scroll_tab">
                      <th>Before regex rename</th>
                      <td *ngFor="let header of spHeader"
                          [ngClass]="(headerRow.includes(header))? 'positive' : 'negative'">{{ header }}</td>
                    </tr>
                  </table>
                  <table class="table_block">

                    <tr class="scroll_tab">
                      <th>After regex rename</th>
                      <td *ngFor="let header of spHeader"
                          [ngClass]="(newHeaderRow.includes(header))? 'positive' : 'negative'">
                        {{ header }}
                      </td>
                    </tr>
                  </table>
                </div>
                </mat-expansion-panel>
              </mat-accordion>


            </div>
            <div>
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>

                      <table>
                        <tr [ngClass]="(vntrCheck && spoligoCheck)? 'positive' : 'negative'">
                          <th>
                            VNTR and SPOLIGO CHECK
                          </th>
                          <th>
                            {{ vntrCheck && spoligoCheck}}
                          </th>
                        </tr>
                      </table>
                    </mat-panel-title>
                    <mat-panel-description>
                      This is a summary of the content
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <table *ngIf="file && (!vntrCheck || !spoligoCheck)">

                  </table>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>


          <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>

          <mat-grid-list cols="3" rowHeight="100px">
          <section> 
            <div *ngIf="vntrCheck">
 
            <mat-grid-tile><h2> VNTR24 </h2></mat-grid-tile>
              <mat-grid-tile>
                <button (click)="sendToTbminerAPI('vntr'); selectedIndex = 1;"
                        [disabled]="!vntrCheck ? 'disabled': null">
                  View and download result
                </button>
              </mat-grid-tile>

              <mat-grid-tile>
                <button (click)="sendToTbminerAndDownload('vntr'); selectedIndex = 0;"
                        [disabled]="!vntrCheck ? 'disabled': null">
                  Download result
                </button>
              </mat-grid-tile>
            </div>
          </section>
          <mat-divider></mat-divider>
          <section>
            <div *ngIf="vntr15Check">
              <mat-grid-tile><h2> VNTR15 </h2></mat-grid-tile>
              <mat-grid-tile>
                <button (click)="sendToTbminerAPI('vntr15'); selectedIndex = 1;"
                        [disabled]="!vntr15Check ? 'disabled': null">
                  View and download result
                </button>
              </mat-grid-tile>
              <mat-grid-tile>
                <button (click)="sendToTbminerAndDownload('vntr15'); selectedIndex = 0;"
                        [disabled]="!vntr15Check ? 'disabled': null">
                  Download result
                </button>
              </mat-grid-tile>
            </div>
          </section>
          <mat-divider></mat-divider>
          <section>
            <div *ngIf="spoligoCheck">
              <mat-grid-tile><h2> Spoligotype </h2></mat-grid-tile>

              <mat-grid-tile>
                <button (click)="sendToTbminerAPI('spacer'); selectedIndex = 1;"
                        [disabled]="!spoligoCheck ? 'disabled': null">
                  View and download result
                </button>
              </mat-grid-tile>
              <mat-grid-tile>
                <button (click)="sendToTbminerAndDownload('spacer'); selectedIndex = 0;"
                        [disabled]="!spoligoCheck ? 'disabled': null">
                  Download result
                </button>
              </mat-grid-tile>
            </div>
          </section>
          <mat-divider></mat-divider>
          <section>
            <div *ngIf="vntrCheck && spoligoCheck">
              <mat-grid-tile><h2> Spoligotype and VNTR24 </h2></mat-grid-tile>
              <mat-grid-tile>
                <button (click)="sendToTbminerAPI('vntr_spacer'); selectedIndex = 1;"
                        [disabled]="!spoligoCheck && !vntrCheck ? 'disabled': null">
                  View and download result
                </button>
              </mat-grid-tile>
              <mat-grid-tile>
                <button (click)="sendToTbminerAndDownload('vntr_spacer'); selectedIndex = 0;"
                        [disabled]="!spoligoCheck && !vntrCheck ? 'disabled': null">
                  Download result
                </button>
              </mat-grid-tile>
            </div>
          </section>
          </mat-grid-list>

        </mat-step>
      </mat-stepper>
    </mat-tab>

    <mat-tab label="Prediction" #tabPrediction>
      <mat-spinner *ngIf="sendInProgress"></mat-spinner>

      <div class="mat-elevation-z8" *ngIf="dataSource">
        <h2 id="output">Predict result</h2>

        <button (click)="exporter.exportTable('csv')" mat-raised-button>Download Csv</button>
        <button (click)="exporter.exportTable('json')" mat-raised-button>Download Json</button>

        <mat-table #exporter="matTableExporter" [dataSource]="dataSource" matTableExporter matSort>


          <ng-container *ngFor="let disCol of key; let colIndex = index" [stickyEnd]="isStickyEnd(disCol)"
                        [sticky]="isSticky(disCol, colIndex)" matColumnDef="{{disCol}}">
            <mat-header-cell *matHeaderCellDef>{{disCol}}</mat-header-cell>
            <mat-cell *matCellDef="let element" matTooltip="{{element[disCol]}}"> {{element[disCol]}}</mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="key"></mat-header-row>
          <mat-row *matRowDef="let row; columns: key;"></mat-row>
          <tr *matNoDataRow class="mat-row">
            <td class="mat-cell" colspan="4">No data matching the filter</td>
          </tr>
        </mat-table>

      </div>
      <mat-paginator [pageSizeOptions]="[50, 100, 200]"
                     showFirstLastButtons
                     aria-label="Select page">
      </mat-paginator>
    </mat-tab>
<!--    <mat-tab label="Rapport">
      <app-rapport></app-rapport>
    </mat-tab>-->
  </mat-tab-group>
</div>


