.landing-block {
 margin: auto;
 width: 95%;
}
.mat-elevation-z8{

}
.landing-block{
  color: #666666;
}
table {
  border: 1px solid;

}
th, td {
  border: 1px solid;
}
.landing-links {

  text-align: center;
}
//img {
//  width: 100%;
//}
button {
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px 10px;
  border: none;
  box-shadow: lightgray 3px 3px 7px;
  margin-right: 20px;
  outline: none;
  font-size: 20px;
  font-weight: 500;
&:active {
   transform: translate(1px, 1px);
   box-shadow: lightgray 0 0 5px;
 }
}

input {
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px 10px;
  border: none;
  box-shadow: lightgray 3px 3px 7px;
  margin-right: 20px;
  outline: none;
  font-size: 20px;
  font-weight: 500;
}


.positive{
    background-color: green;
}

.negative{
    background-color: red;
}
mat-table {
  position: relative;
  width: 95%;
  overflow: scroll;
  white-space: nowrap;
  height: calc( 100vh - 250px);
}

.mat-column-ID{
  min-width:50px !important;
  position: relative;
  z-index: 10;
}
.mat-column-predict_miruvntrplus{
  min-width:100px !important;
}
.mat-column-predict_proba_miruvntrplus{
  min-width:50px !important;
}
.mat-column-predict_tb_lineage{
  min-width:120px !important;
}
.mat-column-predict_proba_tb_lineage{
  min-width:50px !important;
}

.mat-column-predict_expert{
  min-width:90px !important;
}
.mat-column-predict_proba_expert{
  min-width:50px !important;
}
.mat-column-predict_sitvitweb{
  min-width:70px !important;
}
.mat-column-predict_proba_sitvitweb{
  min-width:50px !important;
}

.mat-column-expert-based-on-spoligo{
  min-width:90px !important;
}
.mat-column-Lineage-1-TB-Lineage{
  min-width:70px !important;
}
.mat-column-Lineage2-MiruVNTRPlus{
  min-width:90px !important;
}
.mat-column-Lineage-3--LineageBorile{
  min-width:90px !important;
}
.mat-column-Lineage-4---SITVITWEB-expert-eye{
  min-width:90px !important;
}
.mat-column-predict_specie{
  min-width:100px !important;
}
.mat-column-predict_proba_specie{
  min-width:50px !important;
}



mat-header-cell{
  writing-mode: sideways-lr;
}

mat-cell, mat-header-cell, mat-footer-cell {
  flex: 1 1 10%;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
}

::ng-deep [aria-selected='false'] + .mat-vertical-content-container > .mat-vertical-stepper-content { display: none !important; }

.scroll_tab{

  display: inline-grid;


}

.table_block{
  display: inline-block;
  top:0;
}

.mat-grid-tile {
  border-bottom: solid 2px #000;
}

